/*body {
    background: url("../img/background.png")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}
*/
/**Panel**/
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
/**Huge Text**/
.huge {
    font-size: 30px;
}
/**Custom Navbar**/
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #f0ad4e;
    padding: 15px 0;
    padding-bottom: 0;
}
/****/
.img-th{
	border-radius: 50%;
    height: 3em;
    width: 3em;
}